/* Basic Style */
.page {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
}

.elsenhower-matrix {
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;
}

.elsenhower-matrix__img {
    width: 100%;
}

.elsenhower-matrix__link {
    font-family: fantasy, cursive;
}

@media (max-width: 768px) {
    .main {
        text-align: center;
    }
}

.main {
    display: block;
    width: 500px;
    margin: 0 auto 0;
}

.add-task__input,
.task__title,
.task__title__completed,
.task__input {
    width: 56%;
    display: inline-block;
    flex-grow: 1;
}

.add-task {
    display: flex;
}

.class-list {
    margin: 0;
    padding: 0px;
}

.task {
    list-style: none;
}


.task__input,
.add-task__input,
.add-task__add-btn,
.task__edit-btn,
.task__delete-btn {
    outline: none;
}

.add-task__delete-btn,
.add-task__add-btn,
.task__edit-btn,
.task__delete-btn {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
}

.add-task__delete-btn:hover,
.task__delete-btn:hover {
    color: #3a3a3a;
}

/* Heading */
.heading,
.add-task__label {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}

.task__input,
.add-task__input {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
}

.task__input:focus,
.add-task__input:focus {
    color: #333;
}

/* New Task */
.add-task__label {
    display: block;
    margin: 0 0 20px;
}

.add-task__input {
    width: 318px;
}

/* Task list */
.task {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task>* {
    vertical-align: middle;
}

.task__done-checkbox {
    margin: 0 10px;
}

.task>.task__title {
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 226px;
}

.task__input {
    width: 226px;
    display: none;
}

.task__delete-btn-icon {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}

.task__delete-btn-icon:hover {
    transform: rotateZ(0);
}

/* Completed */
.task__title__completed {
    text-decoration: line-through;
    color: #888;
}

.task.editMode .task__input {
    display: inline-block;
    width: 224px;
}

.task.editMode .task__title {
    display: none;
}
